<!--
Maximillon U. Tan
10843981
Intern @ GaloreTV
-->

<!DOCTYPE html>
<html ng-app="core">
    <head>
        <link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
        <script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>
        <script type="text/javascript" src="core.js"></script>
        <script src="core.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title> Merchandise Information Sheet</title>
    </head>
    <body ng-controller="main">
        <div>
            <form ng-hide="is_form_complete" align="center">
                <div ng-hide="company_status">
                    <select ng-model="company_name" ng-options="myTable.name for myTable in myTable">
                        <option value ="">Select Company Name</option>
                    </select>
                    <button ng-click="companySearch()">Next!</button>
                    <br/>
                </div>
                <div ng-hide="brand_status">
                        <select ng-model="brand_name" ng-options="brand as brand for brand in company_name.brands">
                        <option value =""> Select Brand Name </option>
                    </select>
                    <button ng-click="brandSearch()">Next!</button>
                    <br/>
                </div>
            </form>
            <div ng-hide="verify_status" align ="center">
                Company Name: {{company_name.name}}
                <br/>
                Brand Name: {{brand_name}}
                <br/>
                Address: {{company_name.address}}
                <br/>
                <br/>
                <button ng-click="verifyStatus()">Confirmed!</button>
            </div>
            <!--
            <div class="gridStyle" ng-show="is_form_complete" align="left" ng-grid="sourceList">
            </div>
            -->
        </div>
    </body>
</html>